:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    /*font-size: 16px;*/
    /*line-height: 24px;*/
    /*font-weight: 400;*/
    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --body-color: #8d8989;
    --sidebar-color: #606470;
    --primary-color: #a399c7;
    --hover-primary-color: #a697c4;
    --button-color: #a2a8d3;
    --text-color: #cbc7c7;
    --project-background: #1b2052;
    --card-background: linear-gradient(90deg, rgb(63, 62, 101) 0%, rgb(24, 56, 101) 40%, rgb(31, 33, 72) 100%);

    --tran: all 0.5s ease;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--body-color);
    overflow: auto;
    /*scroll-behavior: smooth;*/
}

body::-webkit-scrollbar {
    display: none;
}

/*a {*/
/*  font-size: 1.15em;*/
/*  font-weight: 600;*/
/*  color: #FFF;*/
/*  text-decoration: inherit;*/
/*}*/
/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #000;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/
/*@media (min-width: 768px) and (max-width: 1024px) {*/
/*  !*Additional Global CSS styles for tablets go here *!*/
/*  }*/

/*@media (max-width: 768px) {*/
/*    !*Additional Global  CSS styles for mobile phones go here *!*/
/*}*/