name: Portfolio site workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: docker
    steps:
      - uses: actions/checkout@v3
      #      - name: test secret
      #        env:
      #          USER: ${{ secrets.USER}}
      #          PASS: ${{ secrets.PASS }}
      #        run: echo $USER
      #        shell: bash
      - name: Add insecure-registry to daemon.json
        run: echo '{"insecure-registries":["so2homelab.com:6080"]}' | sudo tee /etc/docker/daemon.json
      - name: Restart Docker Service
        run: sudo systemctl restart docker
      - name: docker login
        env:
          USER: ${{ secrets.USER }}
          PASS: ${{ secrets.PASS }}
        run: |
          echo $PASS | docker login -u $USER  so2homelab.com:6080 --password-stdin
        shell: bash
      - name: Build Docker Image
        run: docker build -t so2homelab.com:6080/library/portfolio:latest .
      - name: Push Docker Image
        run: docker push so2homelab.com:6080/library/portfolio:latest
      - name: Set KUBECONFIG
        run: echo ${{ secrets.KUBECONFIG }} | base64 --decode > kubeconfig.yaml
      - name: Deploy to Kubernetes
        env:
          KUBECONFIG: ${{ runner.workspace }}/kubeconfig.yaml
        run: |
          kubectl rollout restart deployment.apps/portfolio-deployment -n default