name: Portfolio site workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on : ubuntu-latest
    environment: docker
    steps:
      - uses: actions/checkout@v3
#      - name: test secret
#        env:
#          USER: ${{ secrets.USER}}
#          PASS: ${{ secrets.PASS }}
#        run: echo $USER
#        shell: bash
      - name: docker login
        env:
          USER: ${{ secrets.USER }}
          PASS: ${{ secrets.PASS }}
        run: |
          echo $PASS | docker login -u $USER  so2homelab.com:6080 --password-stdin
        shell: bash